@{
    Layout = "~/Views/Shared/_Layout - home.cshtml";
}

<div class="section">
    <img class="" src="~/Content/images/grid.png" style="width:100%;height:100%; position:absolute;z-index: -2;">
    <img class="" src="~/Content/images/fade.png" style="width:100%;height:100%; position:absolute;z-index: -1;">
    <div class="container vertical-center">
        <div class="row">
            <div class="span4"></div>
            <div class="span4">
                <img class="center-block" style="width: 100%;" src="~/Content/images/spaicial_logo.png" />
                <h1 style="text-align:center;">Prediction API for spatially related data.</h1>
            </div>
            <div class="span4"></div>
        </div>
    </div>
</div>