@{
    Layout = "~/Views/Shared/_Layout - home.cshtml";
}

<div class="section" style="    background: url(/Content/images/grid_bg.png);    background-size: 100% 100%;background-repeat: no-repeat;">
    <div class="container vertical-center">
        <div class="row">
            <div class="span4"></div>
            <div class="span4">
                <img class="center-block" style="width: 100%;" src="~/Content/images/spaicial_logo.png" />
                <h1 style="text-align:center;">Prediction API for spatially related data.</h1>
            </div>
            <div class="span4"></div>
        </div>
    </div>
</div>
